/* Browser Reset */
@import 'node_modules/node.normalize.scss/_normalize';

/* Imports */
@import 'variables';
@import 'mixins';
@import 'grid';

body {
  font-size: 16px;

  @include respond-to(lg) {
    font-size: 120%;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }

img {
  max-width: 100%;
}

/* Bootstrap accessiblity class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Search results component */
.zp-results {
  &__count {
    margin-top: 16px;
    margin-bottom: 16px;

    @include respond-to(md) {
      margin-top: $spacing-md;
      margin-bottom: $spacing-md;
    }

    @include respond-to(lg) {
      margin-top: $spacing-lg;
      margin-bottom: $spacing-lg;
    }
  }

  &__listing {
    &:not(:last-child) {
      margin-bottom: $spacing-lg;

      @include respond-to(md) {
        margin-bottom: $spacing-xl;
      }

      @include respond-to(lg) {
        margin-bottom: $spacing-xll;
      }
    }
  }

  &__media-img {
    width: 100%;
  }

  &__price {
    color: $brand-primary;
    font-size: 1.6rem;
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    &__agents-info {
      margin-top: $spacing-md;
    }
  }

  &__agents-logo,
  &__agents-name,
  &__agents-address {
    margin-right: $spacing-sm;
  }

  &__agents-name,
  &__agents-address,
  &__agents-phone {
    font-size: inherit;
    font-style: normal;

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__agents-logo {
    vertical-align: middle;
  }
}
