<section class="zp-search">
  {{#if noResultsFound}}
    <h1 class="zp-title">No results found</h1>
    <h2><small>Enter another location and search again.</small></h3>
  {{else}}
    <h1 class="zp-title">Search for houses and flats for sale across the UK</h1>
  {{/if}}

  <form action="/search" method="GET" class="form-inline zp-search__form">
    <input type="search" class="zp-search__input" id="searchValue" name="searchValue" placeholder="Enter a postcode e.g. N11">
    <button type="submit" class="zp-search__btn">Search</button>
  </form>
</section>
