<h1>Seach Form</h1>

{{#if noResultsFound}}
  <h3>No results found</h3>
{{/if}}

<form action="/search" method="GET" class="form-inline">
  <input type="search" class="form-control" id="searchValue" name="searchValue" placeholder="Search...">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
